*{
    list-style: none;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
html,body{
    overflow-x: hidden;
}
h2{
    font-weight: 700;
    font-size: 26px;
    margin-bottom: 0.5em;
}
h3{
    font-weight: 500;
    margin-bottom: 0.5em;
}
p{
    font-size: 17px;
    font-weight: 400;
    line-height: 1.5em;
    color: #959595;
}
/* Regular 400
Medium 500
Bold 700 */
/* Navigation and Hero Section */
.navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 50px;
}
.nav-logo{
    width: 100px;
}
.nav-li{
    display: inline-block;
    padding: 15px 5px;
}
.nav-li a ,.nav-list select {
    font-size: 16px;
    font-weight: 500;
    color: white;
}
.nav-list{
    display: none;
}
.nav-contact-info{
    display: none;
}
.nav-btn{
    display: none;
}
.nav-list.show , .nav-btn.showbutton{
    display: flex;
    flex-direction: column;
    width: 100%;
    line-height: 2em;
    align-items: center;
}
.nav-btn{
    border: 1px solid white;  
    background-color: transparent;
}
.btn{
    padding: 10px 15px;
    color: white; 
    font-weight: 500;
    font-size: 15px;
}
.line{
    border-bottom: 1px solid white;
}
.hamburger{
    display: block;
    cursor: pointer;
    background-color: transparent;
}
.menu-icon{
    width: 30px;
}
.line{ display: none;}
/* Hero Section */
.hero{
    background-image: url(./img/hero-image.svg);
    background-size: cover;
    color: white;
    padding-bottom: 40px;
}
.heading-content{
    text-align: center;
    color: white;
    padding: 40px;
}
h1{
    font-size: 30px; 
    font-weight: 700;
    margin-bottom: 0.1em;
}
.hero-p{
    font-size: 15px;
    font-weight: 400;
    line-height: 1.3em;
    margin-bottom: 1.5em;
}
.hero-p br{
    display: none;
}
.orange-btn{
    background-color: #FF8121;
    border: none;
}
.transparent-btn{
    background-color:transparent; 
    border: 1px solid white;  
    margin: 0 10px;
}
.trip-search-form{
    border: 1px solid white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 0px 20px;
}
.hero-select{
    background-color: transparent;
    color:white;
    border: none;
}
    /* Form Section */
    .form-div{
        display: flex;
        align-items: end;
        padding: 12px;
        margin: -5px;
    }
    .input{
        background-color: transparent;
        color:white; 
        font-size: 12px;
        font-weight: 400;
    }
    label{
        font-size: 14px;
        font-weight: 700;
    }
    .search-input{
        border: none;
    }
    .search-btn{
        font-size: 14px;
        font-weight: 400;
        color: black;
        padding: 4px 10px;
        display: flex;
        align-items: center;
    }
    label,.search-input, .form-icon {
        margin: 0 0 0 12px;
    }
    .search-icon{
        width: 24.28px;
        height: 32.77px;
        padding: 0 2px;
    }
    .scroll-down{
        margin-top: 2em;
        text-align: center;
    }
    .scroll-down p{
        font-size: 14px;
    }
/* About Travel Master */
.about-travel-master{
    margin: 30px;
}
.row {
    display: flex;
    border: 1px solid black;
    flex-direction: column;
}
.col-1{
    flex: 30%;
    padding: 10px;
}
.col-2{
    flex: 50%;
    padding: 10px;
}
.about-sub-title{
    font-size: 18px;
}
.about-img{
    padding: 0px 0px 10px 0px;
}
.about-fea-img{
    width: 238px;
}
/* Latest Trips */
.latest-trips{
    margin: 30px;
}
.col-3{
    flex: 20%;
    padding: 10px;
}
.col-4{
    flex: 50%;
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.col-sm-4{
    border: 1px solid black;
    line-height: 1.5em;
   
}
.days{
    background-color: #F6F6F6;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 95px;
    left: 3px;
    right: 3px;
    padding: 10px 10px 0px 10px;
}
.days-row{
    display: flex;
    justify-content: space-between;
}
.days-row-1 p{
    font-weight: 700;
    color: black;
}
.location{
    display: flex;
    flex-direction: row;
}
.location img{
    padding: 0px 10px 0px 10px;
}
.col-sm-bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.rating{
    display: flex;
    flex-direction: row;

}
.star-img{
    padding: 0px 5px 0px 0px;
}
.col-sm-sec{
    position: relative;
}

.col-4-h4{
    margin-top: 70px;
    padding: 0px 10px 0px 10px;
}
.col-sm-p, .col-sm-bottom{
    padding: 10px;
}

.col-sm-img {
    width: 236px;
}

/* Service Section  */
.service{
    margin: 30px 50px;
}
.col-5{
    flex: 30%;
    padding: 15px;
    border: 1px solid black;
    margin: 20px;
    text-align: center;
}
/* Popular Destination   */
.trans-btn{
    background-color:transparent; 
    border: 1px solid black;  
    color: black;
    margin: 85px 20px;
    padding: 6px 22px;
    font-size: 13px;
}
.pop-sm-img{
    width: 238px;
}
.pop-rating{
    background-color: #F6F6F6;
    position: absolute;
    top: 80px;
    left: 150px;
    right: 10px;
    padding: 3px;
}
.pop-h4{
    padding: 0px 10px 0px 10px;
}
.pop-location{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 0px 10px 0px 10px;
}
.pop-location p{
    padding: 0px 10px 0px 10px;
}
.pop-rows{
    flex: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.col-sm-pop{
    border: 1px solid #E8E8E8;
    line-height: 1.5em;
}
/* An Amazing Journey */
.amazing-journey {
    padding: 30px 50px;
    background-color: #F6F6F6;
}

/* Tour Packages  */
.black-btn{
    background-color: black;
    color: white;
    border: none;
}
/* Discover Places by Interest */
.discover-places{
    background-image: url(./img/discover-places-interest.svg);
    color: white;
    margin: 30px 50px 30px 0px;
}
/* Portfolio  */
.pop-destinations {
    margin: 30px 50px;
}
.pop-heading {
    display: flex;
    justify-content: space-between;
}
.portfolio-nav{
    color: #959595;
}

/* Hear from Our Guests */
.guests-section{
    margin: 30px 50px;
}

/* Unique Experience */
.unique-exp{
    margin: 30px 50px; 
}
.unique-row-1, .unique-row-2{
    border: 1px solid #C2C2C2;
}
/* European cities with most beautiful architecture. */
.book-now{
    background-image: url(./img/book-now-back-img.svg);
    color: white;
    padding: 30px 50px;
}
/* latest-blogs */
.latest-blogs{
    margin: 30px 50px;   
}
/* Our team */
.philip{
    position: relative;
}
.team-info{
    background-color: #0000009e;
    position: absolute;
    text-align: center;
    top: 134px;
    left: -1px;
    right: -2px;
}
.team-info p{
    color: white;
}

.team-img{
    min-width: 218px;
    width: 100%;
}

.team-social img{
    padding-right: 10px;
}
.team-row{
    margin: 0 50px;
}
.team-col-1, .team-col-1{
    flex: 30%;
}
.team-col-2{
    flex: 30%;
    display: flex;
    flex-direction: column;
}


/* Contact section */

.contact-sec{
    background-image: url(./img/newsletter-back-img.svg);
    color: white;
}
.contact-row{
    margin: 0 50px;
}
.col-contact-1, .col-contact-2{
    padding: 20px;
    margin: 30px 0px;
    
}
.social-contact img {
    padding: 4px;
}
.col-contact-1 h2{
    color: black;
}
.col-contact-1{
    background-color: white;
    line-height: 3em;
}
.col-contact-2{
    line-height: 3em;
}

.submit-input{
    border: 1px solid white;
    padding: 10px 20px;
    width:100%;
}

/* Footer Section */
.footer-navigation{
    margin: 0 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.footer-nav-logo{
    padding: 0px 30px 0px 0px;
}
.footer-nav-list {
    display: flex;
}
.footer-nav-li {
    display: inline-block;
    padding: 15px 5px;
    color: black;
}
.footer-nav-li a{
    color: black;
}
.footer-bottom, .footer-top{
    margin: 0 50px;
}
.info-footer {
    margin-bottom: 10px;
    padding: 10px;
}
.social-footer {
    display: flex;
    margin: 0px 0px 0px auto;
    padding: 10px;
}
.footer-line{
    border-bottom: 1px solid #C2C2C2;
    margin: 0 50px;
}
.footer-li {
    display: inline-block;
    padding: 6px;
}
p.footer-li {
    text-align: center;
}
.footer-li img{
    width: 35px;
}
.footer-top {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0 50px;
}

.footer-column{
    line-height: 2em;
}
.footer-blog-cont {
    display: flex;
    flex-wrap: wrap;
}
.footer-blog-col {
    border: 1px solid black;
    flex: 50%;
}

/* Ipad and Desktop Size */
@media screen and (min-width: 768px){
    h2{
        font-size: 36px;
    }
    /* hero section */
    h1{
        font-size: 70px;
    }  
    .hero-p{
        font-size: 20px;
    }
    .heading-content{
        margin: 80px;
    }
    .trip-search-form{
        margin: 0px 230px;
        padding: 20px;
    }
    /* About Travel Master Section */
    .about-travel-master, .latest-trips{
        margin: 50px 100px;
    }
    .about-sub-title{
        font-size: 20px;
    }
    .about-fea-img{
        width: 458px;
    }
    .days{
        position: absolute;
        top: 127px;
        left: 20px;
        padding: 10px 10px 0px 10px;
    }

    .col-sm-img {
        width: 336px;
    }
    /* Service */
    .service{
        margin: 50px 100px;
    }
    /* Popular Destinations */
    .trans-btn{
        margin: 59px 7px;
        padding: 12px 20px;
    }
    
    .pop-rating{
        top: 168px;
        left: 343px;
        right: -89px;
        padding: 8px;
    }
    .pop-sm-img {
        width: 451px;
    }
    .pop-rows{
        margin: 0 100px;
        
    }
    .contact-row{
        margin: 0 50px;
        flex-direction: row;
    }
    .col-contact-1, .col-contact-2{
        padding: 15px;
        margin: 70px 10px;      
    }
    .col-contact-1, .col-contact-2{
        line-height: 3em;
    }
    
    .submit-input{
        padding: 10px 20px;
        width:100%;
    }

    /* Footer Section */
    .footer-bottom {
        display: flex;
        
    }
    .footer-top{
        flex-direction: row;
    }
    .footer-column {
        flex: 25%;
    }
    
    
}

@media only screen and (min-width: 1025px){
    /* Navigation Menu */
    .navigation{
        margin: 0 100px;
    }
    .line{
        border-bottom: 1px solid white;
        margin: 0 100px;
        display: block;
    }
    .nav-logo{
        width: 170px;
    }
    .hamburger{
        display: none;
    }
    .nav-list{
        display: flex;
    }
    .nav-contact-info{
        display: flex;
    }
    .nav-btn{
        display: flex;
    }
    .hero-p br{
        display: block;
    }
/* hero sexction */
    .trip-search-form{
        flex-direction: row;
    }
   
    .trip-search-form{
        margin: 0 100px;
        border: none;
    }
    .form-div{
        padding: 0px;
        margin: 0px;
    }
    .search-btn{
        padding: 10px 35px;
    }
    /* About Travel Master Section */
    .row {
        flex-direction: row;
    }
    .row-2{
        display: flex;
        justify-content: flex-start;
    } 
    .col-2{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .about-img{
        padding: 0px 10px 0px 0px;
        width: 195px;
    }
    .col-4{
        flex-direction: row;
    }
    .days{
        top: 127px;
        left: 40px;
        right: 40px;
    }
    /* Popular Destination */
    .col-sm-pop {
        padding: 0;
    }
    .pop-rows{
        margin: 0;
        
    }

    /* Amazing Journey */
    .amazing-journey {
        padding: 50px 100px;
    }
    /* Discover Places by Interest */
    .discover-places{
        margin: 50px 100px 50px 0px;
    }
    /* Hear from Our Guests */
    .guests-section{
        margin: 50px 100px;
    }
    /* Unique Experience */
    .unique-exp{
        margin: 50px 100px;
    }
    /* European cities with most beautiful architecture. */
    .book-now{
        padding: 50px 100px;
    }
    /* latest-blogs */
    .latest-blogs{
        margin: 50px 100px;   
    }

    .pop-sm-img {
        width: 346px;
    }
    .pop-rating {
        top: 115px;
        left: 255px;
        right: -2px;
        padding: 8px;
    }
    /* Portfolio */
    .pop-destinations {
        margin: 50px 100px;
    }
    
    
    /* Our team */
    .team-row{
        margin: 0 100px;
    }
    .team{
        padding-right: 20px;
        
    }
    .team-col-2{
        flex: 30%;
        display: flex;
        flex-direction: row;
    }
    .team-info{
        left: 0px;
        right: 21px;
    }
    /* Contact Section */
    .contact-row{
        margin: 0 300px;
    }
    .col-contact-1, .col-contact-2{
        flex: 50%;
        padding: 20px;
        margin: 45px 20px;
        
    }
    .col-contact-1{
        background-color: white;
        line-height: 5em;
    }
    .col-contact-2{
        line-height: 3em;
    }
    
    .submit-input{
        padding: 10px 20px;
        width:100%;
    }
    
    
    /* Footer Section */
    .footer-bottom, .footer-top{
        margin: 0 100px;
    }
    .footer-navigation{
        margin: 0 100px;
    }
    .footer-line{
        margin: 0 100px;
    }

}