*{
    list-style: none;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
html,body{
    overflow-x: hidden;
}
h2{
    font-weight: 700;
    font-size: 26px;
    margin-bottom: 0.5em;
}
h3{
    font-weight: 500;
    margin-bottom: 0.5em;
}
p, span{
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5em;
    color: #959595;
}
.vertical-line{
    border-left: 3px solid #FF8121;
    padding-left: 25px;
}
.space-para{
    padding-left: 25px;
}
.space-btn{
    margin-left: 25px;
}

/* Navigation and Hero Section */
.navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 50px;
}
.nav-logo{
    width: 100px;
}
.nav-li{
    display: inline-block;
    padding: 15px 5px;
}
.nav-li a ,.nav-list select {
    font-size: 16px;
    font-weight: 500;
    color: white;
}
.nav-list{
    display: none;
}
.nav-contact-info{
    display: none;
}
.nav-btn{
    display: none;
}
.nav-list.show , .nav-btn.showbutton{
    display: flex;
    flex-direction: column;
    width: 100%;
    line-height: 2em;
    align-items: center;
}
.nav-btn{
    border: 1px solid white;  
    background-color: transparent;
}
.btn{
    padding: 10px 15px;
    color: white; 
    font-weight: 500;
    font-size: 11px;
}
.line{
    border-bottom: 1px solid white;
}
.hamburger{
    display: block;
    cursor: pointer;
    background-color: transparent;
}
.menu-icon{
    width: 30px;
}
.line{ display: none;}
/* Hero Section */
.hero{
    background-image: url(./img/hero-image.svg);
    background-size: cover;
    color: white;
    padding-bottom: 40px;
}
.heading-content{
    text-align: center;
    color: white;
    padding: 57px;
}
h1{
    font-size: 30px; 
    font-weight: 700;
    margin-bottom: 0.1em;
}
.hero-p{
    font-size: 15px;
    font-weight: 400;
    line-height: 1.3em;
    margin-bottom: 1.5em;
}
.hero-p br{
    display: none;
}
.orange-btn{
    background-color: #FF8121;
    border: none;
}
.transparent-btn{
    background-color:transparent; 
    border: 1px solid white;  
    margin: 0 10px;
}
.trip-search-form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    flex-direction: column;
}
.hero-select{
    background-color: transparent;
    color:white;
    border: none;
}
    /* Form Section */
    .form-div{
        display: flex;
        align-items: end;
        padding: 12px;
        margin: -5px;
    }
    .input{
        background-color: transparent;
        color:white; 
        font-size: 16px;
        font-weight: 400;
    }
    label{
        font-size: 14px;
        font-weight: 700;
    }
    .search-input{
        border: none;
    }
    .search-btn{
        font-size: 14px;
        font-weight: 400;
        color: black;
        padding: 4px 10px;
        display: flex;
        align-items: center;
    }
    label,.search-input, .form-icon {
        margin: 0 0 0 12px;
    }
    .search-icon{
        width: 24.28px;
        height: 32.77px;
        padding: 0 2px;
    }
    .scroll-down{
        margin-top: 2em;
        text-align: center;
    }
    .scroll-down p{
        font-size: 14px;
    }
/* About Travel Master */
.about-travel-master{
    margin: 30px 50px;
}

.row {
    display: flex;
    flex-direction: column;
}
.col-1{
    flex: 30%;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.col-2{
    flex: 50%;
    padding: 10px;
}
.row-2 {
    display: flex;
    flex-direction: column;
}

.about-sub-title{
    font-size: 18px;
}
.about-img{
    padding: 0px 0px 10px 0px;
}
.about-fea-img{
    width: 100%;
}

/* Latest Trips */
.latest-trips{
    margin: 30px 50px;
}
.col-3{
    flex: 20%;
    padding: 10px;
}

.latest-trips-row-1, .latest-trips-row{
    flex: 50%;
}
.col-4{
    flex: 50%;
    display: flex;
    padding: 10px;
    flex-direction: column;
}

.col-sm-4{
    border: 1px solid #E8E8E8;
    line-height: 1.5em;
    margin-bottom: 10px;
}
.days{
    background-color: #F6F6F6;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 56%;
    left: 15%;
    right: 15%;
    padding: 10px 10px 0px 10px;

}

.days-row{
    display: flex;
    justify-content: space-between;
}
.days-row p{
    padding-right:10px;
}
.days-row-1 p{
    font-weight: 700;
    color: black;
}
.location{
    display: flex;
    flex-direction: row;
}
.location img{
    padding: 0px 10px 0px 10px;
}
.col-sm-bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.rating{
    display: flex;
    flex-direction: row;

}
.star-img{
    padding: 0px 5px 0px 0px;
}
.col-sm-sec{
    position: relative;

}

.col-4-h4{
    padding:35px 10px 0px 10px;
}
.col-sm-p, .col-sm-bottom{
    padding: 10px;
}

.col-sm-img {
    width: 100%;
}

/* Service Section  */
.service{
    margin: 30px 50px;
}
.col-5{
    flex: 30%;
    padding: 15px;
    border: 1px solid black;
    margin: 20px;
    text-align: center;
}
/* Popular Destination   */
.pop-heading{
    margin-bottom: 10px;
}

.trans-btn{
    background-color:transparent; 
    border: 1px solid black;  
    color: black;
    padding: 6px 22px;
    font-size: 13px;
}
.pop-sm-img{
    width: 100%;
}
.pop-rating{
    background-color: #F6F6F6;
    position: absolute;
    top: 60%;
    right: 10px;
    padding: 3px;
}
.pop-h4{
    padding: 0px 10px 0px 10px;
}
.pop-location{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 0px 10px 0px 10px;
}
.pop-location p{
    padding: 0px 10px 0px 10px;
}
.pop-rows{
    display: flex;
    flex-wrap: wrap;
}
.col-sm-pop{
    border: 1px solid #E8E8E8;
    line-height: 1.5em;
    padding-bottom: 10px;
}
/* An Amazing Journey */
.amazing-journey {
    padding: 30px 50px;
    background-color: #F6F6F6;
}
.mountain-img{
    width: 100%;
}

/* Tour Packages  */
.tour-rows{
    display: flex;
    flex-wrap: wrap;
}
img.tour-img {
    width: 100%;
}

.tour-h4{
    color: #4E4E4E;
    padding: 0px 10px 0px 25px;
    font-size: 18px;
}
.tour-p{
    padding: 0px 10px 0px 10px;
}
.tour-row-bottom{
    display: flex;   
    flex-direction: row;
}
.tour-rating{
    background-color: #F6F6F6;
    position: absolute;
    top: 60%;
    right: 10px;
    padding: 3px;
}
.black-btn{
    background-color: black;
    color: white;
    margin: 0px 10px 10px 10px;
    border: none;
}
/* Discover Places by Interest */
.discover-places{
    background-image: url(./img/discover-places-interest.svg);
    color: white;
    margin: 30px 0px 30px 0px;
}
.discover-col-2{
    flex: 30%;
    padding: 60px;
} 

.discover-col-1{
    position: relative;
    flex: 40%;
    padding: 10px;
    display: flex;
    flex-direction: column;  
}
.discover-slides {
    margin: 50px 0px;
}
.prev, .next{
    cursor: pointer;
}
.discover-img{
    width: 100%;
}
.discover-text{
    position: absolute;
    top: 130px;
    left: 35px;
    margin: 15px;
}
.discover-text p{
    color: white;
}
.discover-arrow-img{
    width: 40px;
    margin-top: 1.5em;
}



/* Portfolio  */
.pop-destinations, .portfolio {
    margin: 30px 50px;
}

.portfolio-nav a{
    color: #707070;
}

.portfolio-nav {
    margin: 0;
    padding:0;
}
.col-portfolio{
    margin:0;
    border: none;
}


.portfolio-link a{
    color: black;
}
.portfolio-img{
    width: 100%;
    
}



/* Hear from Our Guests */
.guests-section{
    margin: 30px 50px;
}
.guests-btn{
    background-color:transparent; 
    border: 1px solid black;  
    color: black;
    margin-top: 10px;
}
.guest-row{
    display: flex;
    flex-direction: row;
    padding: 10px;
}
.guests-col-2{
    padding: 0px 10px;
}
.guests-col-1 img {
    width: 100%;
}
.guest-dots{
    display: flex;
    margin: 0 auto;
}

/* Unique Experience */
.col-6{
    flex:50%;
    padding: 10px;
}
.col-7{
    flex: 60%;
}
.col-7::after{
    content: "";
    clear: both;
    display: table;
}
.col-uni-img{
    float: left;
    width: 50%;
}
.unique-exp{
    margin: 30px 50px; 
}
.unique-image{
    width: 35px;
}
.unique-container:after{
    content: "";
    display: table;
    clear: both;
}
.unique-row{
    float: left;
    width: 80%;
    border: 1px solid #C2C2C2;
    padding: 10px;
    margin-top: 5px;
    margin-left: 25px;
    height: 100px;
}

.unique-exp-container{
    display: flex;
    flex-wrap: wrap;
    margin-left: 25px;
}

.unique-col-1 h2{
    font-size: 30px;
    margin: 0px;
}
.unique-col-1{
    padding-left: 20px;
}

.unique-col-2{
    display: flex;
    flex-direction: row;
    padding-left: 10px;
    justify-content: space-around;
}


.unique-img{
    width: 100%;
}

.unique-gallery{
    padding: 84px;
    flex: 50%;
    margin: 0px;
}

/* European cities with most beautiful architecture. */
.book-now{
    background-image: url(./img/book-now-back-img.svg);
    color: white;
    padding: 30px 50px;
}
.book-now-img{
    width: 100%;
}
.book-now-row-2{
    line-height: 2.4em;
}
.book-now-row-2 p{
    color: white;
}

/* latest-blogs */
.col-8{
    flex:26%;
}

.latest-blogs{
    margin: 30px 50px;   
}
.blog-col-1{
    border: 1px solid #C2C2C2;
    padding: 0;
    margin-bottom: 10px;
    width: 219px;
}
.blog-col{
    padding: 0;
}
.blog-btn{
    margin: 0;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
} 
.blog-row-1-img{
    width: 100%;
    
}

.blog-img{
    position: relative;
    margin-right:10px;
    float: left;
}
.blog-con-info h3{
    font-size: 15px;
}
.blog-image{
    width: 15px;
}
.blog-hastags{
    display: flex;
    flex-direction: row;
    padding-bottom: 5px;
}
.blog-hastags p{
    padding-right: 10px;
}
.blog-con-info{
    position: absolute;
    top: 36%;
    left: 2px;
    margin: 5px;
    right: 0px;
}
.blog-img-data{  
    display: flex;
    justify-content: space-between;
    padding: 0px;
}
.blog-para {
    color:#707070;
    font-size: 10px;
}
.blog-insta-p{
    font-size: 10px;
}
.blog-p{
    color: white;
    font-size: 12px;
}

.blog-con-info h3{
    color: white;
}

.blog-col-img {
    width: 100%;
}
.blog-calender, .blog-comment, .blog-likes{
    display: flex;
    flex-direction: row;
    color: white;
}


/* Our team */
.our-team{
    margin: 30px 50px;
}
.philip{
    position: relative;
}
.team-info{
    background-color: #0000009e;
    position: absolute;
    text-align: center;
    top: 141px;
    left: 1px;
    right: 0px;
    width: 218px;
}
.team-info p{
    color: white;
}
.team-btn{
    background-color:transparent; 
    border: 1px solid black;  
    color: black;
    padding: 6px 22px;
    font-size: 13px;
    margin-left: 25px;
    margin-bottom: 1.5em;
    
}

.team-img{
    width: 218px;
}

.team-social img{
    padding-right: 10px;
}

.team-col-1{
    flex: 30%;
}
.team-col-2{
    flex: 50%;
    display: flex;
    flex-direction: column;
}


/* Contact section */

.contact-sec{
    background-image: url(./img/newsletter-back-img.svg);
    color: white;
    margin-bottom: 50px;
}
.contact-row{
    margin: 0 50px;
}
.col-contact-1, .col-contact-2{
    padding: 20px;
    margin: 30px 0px;
    
}
.social-contact img {
    padding: 4px;
}
.col-contact-1 h2{
    color: black;
}
.col-contact-1{
    background-color: white;
    line-height: 3em;
}
.col-contact-2{
    line-height: 3em;
}

.submit-input{
    border: 1px solid white;
    padding: 10px 20px;
    width:100%;
}

/* Footer Section */
.footer-navigation{
    margin: 0 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.footer-nav-logo{
    padding: 0px 30px 0px 0px;
}
.footer-nav-list {
    display: flex;
    flex-wrap: wrap;
}
.footer-nav-li {
    display: inline-block;
    padding: 15px 5px;
    color: black;
}
.footer-nav-li a{
    color: black;
}
.footer-bottom, .footer-top{
    margin: 0 50px;
}
.info-footer {
    margin-bottom: 10px;
    padding: 10px;
}
.social-footer {
    display: flex;
    margin: 0px 0px 0px auto;
    padding: 10px;
}
.footer-line{
    border-bottom: 1px solid #C2C2C2;
    margin: 0 50px;
}
.footer-li {
    display: inline-block;
    padding: 6px;
}
p.footer-li {
    text-align: center;
}
.footer-li img{
    width: 35px;
}
.footer-top {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0 50px;
}
.footer-blog-content p{
    font-size: 12px;
    
}
.footer-blog-content{
    padding-left: 10px;
}
.footer-blog-col{
    padding: 5px;
}
.footer-blog-title{
    font-weight: 500;
    color: black;
}

.footer-column{
    line-height: 2em;
}
.footer-blog-img{
    display: flex;
    align-items: flex-start;
}
.footer-blog-cont {
    display: flex;
    flex-wrap: wrap;
    
}
.footer-blog-col {
    flex: 50%;
    display: flex;
}



/* Ipad and Desktop Size */
@media screen and (min-width: 768px){
    p, span{
        font-size: 17px;
    }
    .btn{
        font-size: 15px;
    }
    h2{
        font-size: 36px;
    }
    /* hero section */
    h1{
        font-size: 70px;
    }  
    .hero-p{
        font-size: 20px;
    }
    .heading-content{
        margin: 80px;
    }
    .trip-search-form{
        margin: 0px 230px;
        
    }
    /* About Travel Master Section */
    .about-travel-master, .latest-trips{
        margin: 50px 100px;
    }
    .row-2{
        flex-direction: row;
        flex-wrap: wrap;
    }

    .about-img{
        padding: 15px 20px;
    }
    .about-sub-title{
        font-size: 20px;
    }
    .about-fea-img{
        width: 458px;
    }
    /* Latest Trips */
 
    .days{
        top: 115px;
        left: 10px;
        right: 10px;
        padding: 10px 10px 0px 10px;
    }
    .col-sm-img, .latest-container {
        width: 317px
    }
    .latest-container {
        margin-left: 20px;
        margin-right: 4em;
    }
    .col-4{
        flex-wrap: wrap;
        flex-direction: row;
    }
 
    /* Service */
    .service{
        margin: 50px 100px;
    }
    /* Popular Destinations */
    .pop-sm-img{
        width: 280px;
    }
    .col-sm-pop{
        width: 280px;
    }

    .pop-heading {
        display: flex;
        justify-content: space-between;
        margin: 0px;
        
    }
    .trans-btn{
        margin: 59px 7px;
        padding: 12px 20px;
    }

    
    .pop-rows{
        margin: 0 27px;
        
        
    }
    .contact-row{
        margin: 0 50px;
        flex-direction: row;
    }
    .col-contact-1, .col-contact-2{
        padding: 15px;
        margin: 70px 10px;      
    }
    .col-contact-1, .col-contact-2{
        line-height: 3em;
    }
    
    .submit-input{
        padding: 10px 20px;
        width:100%;
    }
    /* Amazing-journey Through the Mountains*/
    .mountain-img{
        height: 287px;
    }
    /* Popular Destionations  */
    .pop-rows{
        justify-content: space-between;

    }
    /* Unique Experience */
    .unique-row{
        width: 44%;
    }
    /* Tour Packages  */
    .tour-rows {
        margin: 0px 100px;
    }
   
    img.tour-img, .col-sm-tour {
        width: 390px;
    }
    .tour-h4{
        font-size: 30px;
    }

    .tour-rating{
        top: 74%;
    }
    /* Discover Places */
    .discover-col-1{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .discover-text {
        top: 200px;
    }
    .discover-col-1, .discover-col-2 {
        margin: 0 170px;
    }
    /* Hear from our Guests  */
    .guests-btn{
        margin-left: 10px;
    }
    .guests-col-1 img {
        width: 88px;
    }
    .book-now-row-2, .book-now-row-1{
        margin: 0 100px;
    }
    /* Our latest Blogs */

    .blog-col-1{
        width: 370px;
    }
    .blog-row-1-img{
        width: 100%;
    }
    .blog-col-img {
        width: 324px;
    }
    .blog-con-info {
        top: 109px;
    }
    .blog-image {
        width: 18px;
        margin-right: 6px;
    }
    .blog-para {
        font-size: 22px;
        margin-left: 10px;
    }
    .blog-insta-p {
        font-size: 22px;
    }
    /* Team */
    .our-team{
        margin: 50px 100px;
    }
    .team-col-2{
        flex-wrap: wrap;
        flex-direction: row;
    }
    .team{
        margin: 10px;
    }

    /* Portfolio */
    .portfolio-img {
        width: 287px;
    }
    .portfolio-nav {
        margin-left: 26px;
    }

    /* Footer Section */
    .footer-bottom {
        display: flex;
        
    }
    .footer-top{
        flex-direction: row;
    }
    .footer-column {
        flex: 10%;
    }  
    .footer-col-2{
        flex: 25%;
    }
    
}
/* Ipad Pro Size */
@media only screen and (width: 1024px){
    .tour-rows{
        margin: 0px 50px;
    }
    .col-sm-tour{
        margin-right: 10px;
    }
    .book-now-row-2, .book-now-row-1{
        margin: 0 250px;
    }
    .discover-col-1,.discover-col-2 {
        margin: 0 280px;
    }
    .col-7 {
        margin: 0 100px;
    }
    
}
/* Only Desktop Size */
@media only screen and (min-width: 1025px){
    /* Navigation Menu */
    .navigation{
        margin: 0 100px;
    }
    .line{
        border-bottom: 1px solid white;
        margin: 0 100px;
        display: block;
    }
    .nav-logo{
    
        width: 170px;
    }
    .hamburger{
        display: none;
    }
    .nav-list{
        display: flex;
    }
    .nav-contact-info{
        display: flex;
    }
    .nav-btn{
        display: flex;
    }
    .hero-p br{
        display: block;
    }
/* hero sexction */
    .trip-search-form{
        flex-direction: row;
    }
   
    .trip-search-form{
        margin: 0 100px;
        border: none;
    }
    .form-div{
        padding: 0px;
        margin: 0px;
    }
    .search-btn{
        padding: 10px 35px;
    }
    /* About Travel Master Section */
    .row {
        flex-direction: row;
    }
    .row-2{
        display: flex;
        flex-wrap: nowrap;
    } 

    
    .col-2{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .about-img{
        padding: 10px 0px 0px 10px;
        width: 194px;
    }
    /* Latest Trips */

    .col-4{
        flex-wrap: nowrap;
        flex-direction: row;
    }
    .col-sm-img, .latest-container{
        width: 280px
    }
    
    /* Popular Destination */
    .col-sm-pop {
        padding: 0;
        margin: 10px;
        width: 390px;
    }
    .pop-rows{
        margin: 0;  
    }
    .pop-sm-img {
        width: 390px;
    }
    .pop-rating {
        top: 73%;
    }

    /* Amazing Journey */

    .amazing-journey {
        padding: 50px 100px;
    }
    /* Tour Package */
    .tour-rows {
        margin: 0px;
    }
    /* Discover Places by Interest */
    .discover-col-1,.discover-col-2 {
        margin: 0px;
    }
    .discover-places{
        margin: 50px 0px 50px 0px;
    }
    .discover-col-1{
        display: flex;
        flex-wrap: nowrap;
    }
    .discover-img{
        width: 490px;
        margin-left: 200px;
    }
    .discover-text{
        top: 250px;
        left: 220px;
        margin: 15px;
    }
    
    /* Hear from Our Guests */
    .guests-section{
        margin: 50px 100px;
    }
    .col-sm-4{
        margin-right: 10px;
    }

    /* Unique Experience */
    .unique-exp{
        margin: 50px 100px;
    }

    .unique-row{
        width: 35%;
    }
    /* European cities with most beautiful architecture. */
    .book-now{
        padding: 0px 100px;
    }
    .book-now-row-1{
        position: relative;
        flex: 35%;
    }
    .book-now-row-2{
        padding: 80px 20px 25px 20px;
    }
    .book-col-1{
        position: absolute;
        top: 80px;
    }
    /* latest-blogs */
    .blog-row-1-img, .blog-col-1{
        width: 370px;
    }
    .col-8{
        flex: 30%;
    }
    .latest-blogs{
        margin: 90px 100px;   
    }
    .blog-img-data{
        width: 360px;
    }
    .latest-trips-row{
        align-items: flex-start;
        padding: 10px;
    }
    .col-8{
        margin: 0px;
    }
    
    .blog-h2{
        font-size: 25px;
        margin: 0px;
    }
    .blog-btn{
        margin: 0px;
    }
    .blog-col-img{
        width: 370px;
    }
    .blog-img{
        margin-right:10px;
        width: 48%;
        margin:0px;
    }

    .blog-para {
        font-size: 14px;
    }
    .blog-insta-p{
        font-size: 14px;
    }

    /* Portfolio */
    .pop-destinations, .portfolio{
        margin: 50px 100px;
    }
    .portfolio-img{
        width: 400px;
        
    }
    .portfolio-nav a{
        padding-right: 30px;
    }
    /* Latest Blog */
    .blog-col{
        flex-wrap: wrap;
        margin-left: 10px;
    }
    
    .blog-image{
        width: 22.5px;
    }
    .blog-con-info h3{
        font-size: 22px;
        margin-left: 10px;
    }
    .blog-p{
        font-size: 17px;
    }
    .blog-con-info{
        position: absolute;
        top: 125px;
        left: 2px;
        right: 0px;
        width: 360px;
    }
    /* Our team */
    
    .team-img{
        width: 220px;
    }

    .team{
        padding-left: 10px;
    }
    .team-col-2{
        flex-wrap: nowrap;
        flex-direction: row;
    }
    .team-col-1 h2{
        margin: 0px;
    }
    .team-info{
        width: 220px;
        top: 140px;
        left: 10px;
        right: 1px;
    }
    
    .team-btn{
        padding: 8px 15px;
    }
    /* Contact Section */
    .contact-row{
        margin: 0 300px;
    }
    .col-contact-1, .col-contact-2{
        flex: 50%;
        padding: 20px;
        margin: 45px 20px;
        
    }
    .col-contact-1{
        background-color: white;
        line-height: 5em;
    }
    .col-contact-2{
        line-height: 3em;
    }
    
    .submit-input{
        padding: 10px 20px;
        width:100%;
    }
    
    
    /* Footer Section */
    .footer-bottom, .footer-top{
        margin: 0 100px;
    }
    .footer-navigation{
        margin: 0 100px;
    }
    .footer-line{
        margin: 0 100px;
    }

}